<div class="row mb-4">
    <div class="col-md-6">
      <h2 class="text-primary">Bienvenido a Nuestro Sitio Web</h2>
      <p>Ofrecemos soluciones innovadoras para todas tus necesidades. Descubre nuestros servicios y cómo podemos ayudarte a alcanzar tus objetivos.</p>
      <p>tambien puedes ver nuestro lugares a los que tu puedes viajar</p>
      <p>no puedes perderte tambien de los descuentos que hay en fechas festivas no los dejes pasar</p>
      <a href="#" class="btn btn-primary btn-lg">Conócenos más</a>
    </div>
    <div class="col-md-6">
      <img src="https://picsum.photos/800/600?random=1&category=business
      " class="img-fluid rounded" alt="Welcome Image">
    </div>
  </div>
  <div class="alert alert-info text-center" role="alert">
    <strong>¡Atención!</strong> Hay fechas en las que puedes tener un descuento impresionante!
  </div>
  <section id="gallery" class="mt-5">
    <h2 class="text-center text-secondary">Visita nuestro lugares Turisticos</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/800/600?random=1&category=nature
          " class="card-img-top zoom-img" alt="Proyecto 1">
          <div class="card-body">
            <h5 class="card-title">Viaje 1</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/800/600?random=2&category=nature
          " class="card-img-top zoom-img" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Viaje 2</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/800/600?random=3&category=nature
          " class="card-img-top zoom-img" alt="Proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Viaje 3</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  