body {
    padding-top: 56px;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #343a40;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-brand i {
    margin-right: 10px;
  }
  
  .carousel-item img {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item:hover img {
    transform: scale(1.05);
  }
  
  .alert {
    font-weight: bold;
  }
  
  #gallery .card {
    transition: transform 0.3s ease-in-out;
  }
  
  #gallery .card:hover {
    transform: scale(1.1);
  }
  
  .card-body {
    transition: all 0.3s ease-in-out;
  }
  
  .card-body:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
  }
  
  footer {
    background: #343a40;
    color: #fff;
    padding: 20px 0;
  }
  
  footer a {
    color: #ffc107;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer hr {
    background: #ffc107;
  }
  
  .btn {
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  