<div id="videoGameCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#videoGameCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#videoGameCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#videoGameCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/800/600?random=2
        " class="d-block w-100" alt="paisaje 1">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bg-dark p-2">Ven y viaja a las maravillas que ofrece el mundo</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/800/600?random=1
        " class="d-block w-100" alt="paisaje 2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bg-dark p-2">Descubre los asombrosos lugares que puedes visitar</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/800/600?random=3
        " class="d-block w-100" alt="paisaje 3">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="bg-dark p-2">Disfruta los viajes que podemos ofrecerte</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#videoGameCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#videoGameCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  