<section id="services" class="my-5">
    <h2 class="text-center text-info">Nuestros Servicios</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-code fa-3x text-primary mb-3"></i>
            <h5 class="card-title">Transporte de Equipaje</h5>
            <p class="card-text">Ayudamos al transporte de Equipaje</p>
            <a href="#" class="btn btn-outline-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt fa-3x text-success mb-3"></i>
            <h5 class="card-title">Servicios de Internet</h5>
            <p class="card-text">Probeemos servicios de internet en el viaje</p>
            <a href="#" class="btn btn-outline-success">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-cloud fa-3x text-warning mb-3"></i>
            <h5 class="card-title">Servicios de Comodidad</h5>
            <p class="card-text">Ofrecemos a que el viaje sea mas relajante y comodo</p>
            <a href="#" class="btn btn-outline-warning">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  