<section id="testimonials" class="my-5">
    <h2 class="text-center text-success">Testimonios</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>"Excelente servicio, muy recomendado."</p>
              <footer class="blockquote-footer">Juanito <cite title="Source Title">Empresa SAMSUNG</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>"El equipo es muy profesional y eficiente."</p>
              <footer class="blockquote-footer">German<cite title="Source Title">Empresa ABC</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>"¡Volvería a Viajar con ellos sin dudarlo!"</p>
              <footer class="blockquote-footer">Amlo <cite title="Source Title">Empresa YPFB</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  