<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase">Acerca de</h5>
          <p>Somos una empresa dedicada a ofrecer viajes y servicios para la comodidad del cliente.</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase">Enlaces rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="text-white">Inicio</a></li>
            <li><a href="#!" class="text-white">Servicios</a></li>
            <li><a href="#!" class="text-white">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase">Contacto</h5>
          <p>Tel: +591 45687890</p>
          <p>Email: Proyecto-angular.com</p>
        </div>
      </div>
      <hr class="my-4 bg-white">
      <p>&copy; 2024 Viajes. Todos los derechos reservados.</p>
    </div>
  </footer>
  